In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('hour.csv')

In [3]:
data

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,17375,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,17376,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,17377,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,17378,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,17379,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

In [4]:
data = data.drop(['instant','dteday','casual' , 'registered'],axis=1)

In [5]:
data

,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,16
1,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,40
2,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,32
3,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,13
4,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,119
17375,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,89
17376,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,90
17377,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,61
17378,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,49

In [6]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
# sns.pairplot(data)

In [7]:
data

,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,16
1,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,40
2,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,32
3,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,13
4,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,119
17375,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,89
17376,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,90
17377,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,61
17378,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,49

In [8]:
data.isnull().mean()

season        0.0
yr            0.0
mnth          0.0
hr            0.0
holiday       0.0
weekday       0.0
workingday    0.0
weathersit    0.0
temp          0.0
atemp         0.0
hum           0.0
windspeed     0.0
cnt           0.0
dtype: float64

In [9]:
X = data.drop('cnt',axis=1)
y = data['cnt']

from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(X.values,y.values,test_size=0.2)

In [10]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [11]:
import tensorflow as tf

In [12]:
models = tf.keras.models.Sequential()

In [13]:
models.add(tf.keras.layers.Dense(input_dim=12,units=32,activation='relu', kernel_initializer='normal'))
models.add(tf.keras.layers.Dense(units=64,activation='relu',kernel_initializer='normal'))
models.add(tf.keras.layers.Dense(units=1,activation='linear',kernel_initializer='normal'))

In [14]:
models.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mean_absolute_error'])

In [15]:
models.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 32)                416
_________________________________________________________________
dense_1 (Dense)              (None, 64)                2112
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 65
=================================================================
Total params: 2,593
Trainable params: 2,593
Non-trainable params: 0
_________________________________________________________________

In [17]:
models.fit(X_train,y_train,nb_epoch=100,batch_size=10)

WARNING:tensorflow:The `nb_epoch` argument in `fit` has been renamed `epochs`.
Train on 13903 samples
Epoch 1/100
13903/13903 [==============================] - 3s 212us/sample - loss: 29.2113 - mean_absolute_error: 29.2113
Epoch 2/100
13903/13903 [==============================] - 3s 212us/sample - loss: 29.2572 - mean_absolute_error: 29.2572
Epoch 3/100
13903/13903 [==============================] - 3s 211us/sample - loss: 29.2818 - mean_absolute_error: 29.2818
Epoch 4/100
13903/13903 [==============================] - 3s 213us/sample - loss: 29.1679 - mean_absolute_error: 29.1679
Epoch 5/100
13903/13903 [==============================] - 3s 211us/sample - loss: 29.2456 - mean_absolute_error: 29.2456
Epoch 6/100
13903/13903 [==============================] - 3s 213us/sample - loss: 29.1659 - mean_absolute_error: 29.1659
Epoch 7/100
13903/13903 [==============================] - 3s 213us/sample - loss: 29.1031 - mean_absolute_error: 29.1031
Epoch 8/100
13903/13903 [==============================] - 3s 212us/sample - loss: 29.1976 - mean_absolute_error: 29.1976
Epoch 9/100
13903/13903 [==============================] - 3s 209us/sample - loss: 29.2948 - mean_absolute_error: 29.2948
Epoch 10/100
13903/13903 [==============================] - 3s 210us/sample - loss: 29.0845 - mean_absolute_error: 29.0845
Epoch 11/100
13903/13903 [==============================] - 3s 212us/sample - loss: 29.2354 - mean_absolute_error: 29.2354s - loss: 29.0381
Epoch 12/100
13903/13903 [==============================] - 3s 211us/sample - loss: 29.1429 - mean_absolute_error: 29.1430
Epoch 13/100
13903/13903 [==============================] - 3s 209us/sample - loss: 29.0952 - mean_absolute_error: 29.0952
Epoch 14/100
13903/13903 [==============================] - 3s 211us/sample - loss: 29.1300 - mean_absolute_error: 29.1300
Epoch 15/100
13903/13903 [==============================] - 3s 209us/sample - loss: 29.1757 - mean_absolute_error: 29.1757
Epoch 16/100
13903/13903 [==============================] - 3s 211us/sample - loss: 29.0131 - mean_absolute_error: 29.0131
Epoch 17/100
13903/13903 [==============================] - 3s 209us/sample - loss: 29.1131 - mean_absolute_error: 29.1131
Epoch 18/100
13903/13903 [==============================] - 3s 209us/sample - loss: 29.0886 - mean_absolute_error: 29.0886
Epoch 19/100
13903/13903 [==============================] - 3s 210us/sample - loss: 29.0923 - mean_absolute_error: 29.0923
Epoch 20/100
13903/13903 [==============================] - 3s 207us/sample - loss: 29.0860 - mean_absolute_error: 29.0860
Epoch 21/100
13903/13903 [==============================] - 3s 208us/sample - loss: 29.0821 - mean_absolute_error: 29.0820
Epoch 22/100
13903/13903 [==============================] - 3s 211us/sample - loss: 29.1940 - mean_absolute_error: 29.1940
Epoch 23/100
13903/13903 [==============================] - 3s 207us/sample - loss: 29.0626 - mean_absolute_error: 29.0626
Epoch 24/100
13903/13903 [==============================] - 3s 208us/sample - loss: 28.9781 - mean_absolute_error: 28.9781
Epoch 25/100
13903/13903 [==============================] - 3s 206us/sample - loss: 29.1019 - mean_absolute_error: 29.1019
Epoch 26/100
13903/13903 [==============================] - 3s 211us/sample - loss: 29.0371 - mean_absolute_error: 29.0371
Epoch 27/100
13903/13903 [==============================] - 3s 206us/sample - loss: 29.0490 - mean_absolute_error: 29.0490
Epoch 28/100
13903/13903 [==============================] - 3s 209us/sample - loss: 29.0596 - mean_absolute_error: 29.0596
Epoch 29/100
13903/13903 [==============================] - 3s 207us/sample - loss: 29.0551 - mean_absolute_error: 29.0551
Epoch 30/100
13903/13903 [==============================] - 3s 207us/sample - loss: 29.0177 - mean_absolute_error: 29.0177
Epoch 31/100
13903/13903 [==============================] - 3s 207us/sample - loss: 28.9735 - mean_absolute_error: 28.9735s - loss: 28.8513 - mean_absolute_erro
Epoch 32/100
13903/13903 [==============================] - 3s 207us/sample - loss: 28.9966 - mean_absolute_error: 28.9966
Epoch 33/100
13903/13903 [==============================] - 3s 207us/sample - loss: 28.9599 - mean_absolute_error: 28.9599
Epoch 34/100
13903/13903 [==============================] - 3s 210us/sample - loss: 29.0588 - mean_absolute_error: 29.0588
Epoch 35/100
13903/13903 [==============================] - 3s 207us/sample - loss: 28.8144 - mean_absolute_error: 28.8144
Epoch 36/100
13903/13903 [==============================] - 3s 206us/sample - loss: 28.9703 - mean_absolute_error: 28.9703
Epoch 37/100
13903/13903 [==============================] - 3s 205us/sample - loss: 28.9732 - mean_absolute_error: 28.9732
Epoch 38/100
13903/13903 [==============================] - 3s 207us/sample - loss: 29.0291 - mean_absolute_error: 29.0291
Epoch 39/100
13903/13903 [==============================] - 3s 207us/sample - loss: 28.9983 - mean_absolute_error: 28.9983
Epoch 40/100
13903/13903 [==============================] - 3s 206us/sample - loss: 28.9415 - mean_absolute_error: 28.9415
Epoch 41/100
13903/13903 [==============================] - 3s 206us/sample - loss: 29.0139 - mean_absolute_error: 29.0139
Epoch 42/100
13903/13903 [==============================] - 3s 205us/sample - loss: 28.9684 - mean_absolute_error: 28.9683
Epoch 43/100
13903/13903 [==============================] - 3s 205us/sample - loss: 28.8527 - mean_absolute_error: 28.8527
Epoch 44/100
13903/13903 [==============================] - 3s 208us/sample - loss: 28.9507 - mean_absolute_error: 28.9507
Epoch 45/100
13903/13903 [==============================] - 3s 207us/sample - loss: 28.9654 - mean_absolute_error: 28.9655
Epoch 46/100
13903/13903 [==============================] - 3s 205us/sample - loss: 28.9395 - mean_absolute_error: 28.9395
Epoch 47/100
13903/13903 [==============================] - 3s 206us/sample - loss: 28.9136 - mean_absolute_error: 28.9136
Epoch 48/100
13903/13903 [==============================] - 3s 205us/sample - loss: 28.8374 - mean_absolute_error: 28.8373
Epoch 49/100
13903/13903 [==============================] - 3s 205us/sample - loss: 28.8843 - mean_absolute_error: 28.8843
Epoch 50/100
13903/13903 [==============================] - 3s 205us/sample - loss: 28.7985 - mean_absolute_error: 28.7985
Epoch 51/100
13903/13903 [==============================] - 3s 206us/sample - loss: 28.8795 - mean_absolute_error: 28.8795
Epoch 52/100
13903/13903 [==============================] - 3s 202us/sample - loss: 28.7493 - mean_absolute_error: 28.7493
Epoch 53/100
13903/13903 [==============================] - 3s 200us/sample - loss: 28.8461 - mean_absolute_error: 28.8461
Epoch 54/100
13903/13903 [==============================] - 3s 202us/sample - loss: 28.9091 - mean_absolute_error: 28.9091
Epoch 55/100
13903/13903 [==============================] - 3s 201us/sample - loss: 28.7339 - mean_absolute_error: 28.7339
Epoch 56/100
13903/13903 [==============================] - 3s 202us/sample - loss: 28.9624 - mean_absolute_error: 28.9624
Epoch 57/100
13903/13903 [==============================] - 3s 209us/sample - loss: 28.6807 - mean_absolute_error: 28.6807
Epoch 58/100
13903/13903 [==============================] - 3s 204us/sample - loss: 28.8476 - mean_absolute_error: 28.8476
Epoch 59/100
13903/13903 [==============================] - 3s 204us/sample - loss: 28.9360 - mean_absolute_error: 28.9360
Epoch 60/100
13903/13903 [==============================] - 3s 206us/sample - loss: 28.7714 - mean_absolute_error: 28.7714
Epoch 61/100
13903/13903 [==============================] - 3s 201us/sample - loss: 28.8674 - mean_absolute_error: 28.8674
Epoch 62/100
13903/13903 [==============================] - 3s 200us/sample - loss: 28.7921 - mean_absolute_error: 28.7921
Epoch 63/100
13903/13903 [==============================] - 3s 202us/sample - loss: 28.8119 - mean_absolute_error: 28.8119
Epoch 64/100
13903/13903 [==============================] - 3s 206us/sample - loss: 28.6362 - mean_absolute_error: 28.6362
Epoch 65/100
13903/13903 [==============================] - 3s 202us/sample - loss: 28.7957 - mean_absolute_error: 28.7957
Epoch 66/100

13903/13903 [==============================] - 3s 209us/sample - loss: 28.9328 - mean_absolute_error: 28.9328
Epoch 67/100
13903/13903 [==============================] - 3s 207us/sample - loss: 28.9319 - mean_absolute_error: 28.9319
Epoch 68/100
13903/13903 [==============================] - 3s 206us/sample - loss: 28.7165 - mean_absolute_error: 28.7165
Epoch 69/100
13903/13903 [==============================] - 3s 209us/sample - loss: 28.7577 - mean_absolute_error: 28.7577
Epoch 70/100
13903/13903 [==============================] - 3s 208us/sample - loss: 28.7782 - mean_absolute_error: 28.7782
Epoch 71/100
13903/13903 [==============================] - 3s 206us/sample - loss: 28.7748 - mean_absolute_error: 28.7747
Epoch 72/100
13903/13903 [==============================] - 3s 204us/sample - loss: 28.7379 - mean_absolute_error: 28.7379
Epoch 73/100
13903/13903 [==============================] - 3s 205us/sample - loss: 28.7729 - mean_absolute_error: 28.7729
Epoch 74/100
13903/13903 [==============================] - 3s 209us/sample - loss: 28.7462 - mean_absolute_error: 28.7462
Epoch 75/100
13903/13903 [==============================] - 3s 219us/sample - loss: 28.7080 - mean_absolute_error: 28.7080
Epoch 76/100
13903/13903 [==============================] - 3s 209us/sample - loss: 28.8500 - mean_absolute_error: 28.8500
Epoch 77/100
13903/13903 [==============================] - 3s 209us/sample - loss: 28.7143 - mean_absolute_error: 28.7143
Epoch 78/100
13903/13903 [==============================] - 3s 205us/sample - loss: 28.7487 - mean_absolute_error: 28.7488
Epoch 79/100
13903/13903 [==============================] - 3s 204us/sample - loss: 28.8136 - mean_absolute_error: 28.8136
Epoch 80/100
13903/13903 [==============================] - 3s 205us/sample - loss: 28.7717 - mean_absolute_error: 28.7717
Epoch 81/100
13903/13903 [==============================] - 3s 203us/sample - loss: 28.8367 - mean_absolute_error: 28.8367
Epoch 82/100
13903/13903 [==============================] - 3s 204us/sample - loss: 28.6652 - mean_absolute_error: 28.6652
Epoch 83/100
13903/13903 [==============================] - 3s 204us/sample - loss: 28.7207 - mean_absolute_error: 28.7207
Epoch 84/100
13903/13903 [==============================] - 3s 204us/sample - loss: 28.7318 - mean_absolute_error: 28.7318
Epoch 85/100
13903/13903 [==============================] - 3s 205us/sample - loss: 28.5898 - mean_absolute_error: 28.5898
Epoch 86/100
13903/13903 [==============================] - 3s 206us/sample - loss: 28.7185 - mean_absolute_error: 28.7185
Epoch 87/100
13903/13903 [==============================] - 3s 206us/sample - loss: 28.6846 - mean_absolute_error: 28.6847
Epoch 88/100
13903/13903 [==============================] - 3s 203us/sample - loss: 28.6633 - mean_absolute_error: 28.6633
Epoch 89/100
13903/13903 [==============================] - 3s 203us/sample - loss: 28.6189 - mean_absolute_error: 28.6189
Epoch 90/100
13903/13903 [==============================] - 3s 203us/sample - loss: 28.5811 - mean_absolute_error: 28.5810
Epoch 91/100
13903/13903 [==============================] - 3s 202us/sample - loss: 28.6265 - mean_absolute_error: 28.6265
Epoch 92/100
13903/13903 [==============================] - 3s 203us/sample - loss: 28.5726 - mean_absolute_error: 28.5726
Epoch 93/100
13903/13903 [==============================] - 3s 203us/sample - loss: 28.5692 - mean_absolute_error: 28.5693
Epoch 94/100
13903/13903 [==============================] - 3s 202us/sample - loss: 28.6713 - mean_absolute_error: 28.6713
Epoch 95/100
13903/13903 [==============================] - 3s 202us/sample - loss: 28.7139 - mean_absolute_error: 28.7139
Epoch 96/100
13903/13903 [==============================] - 3s 204us/sample - loss: 28.6423 - mean_absolute_error: 28.6423
Epoch 97/100
13903/13903 [==============================] - 3s 201us/sample - loss: 28.6463 - mean_absolute_error: 28.6464
Epoch 98/100
13903/13903 [==============================] - 3s 205us/sample - loss: 28.5764 - mean_absolute_error: 28.5764
Epoch 99/100
13903/13903 [==============================] - 3s 202us/sample - loss: 28.7701 - mean_absolute_error: 28.7701
Epoch 100/100
13903/13903 [==============================] - 3s 202us/sample - loss: 28.6075 - mean_absolute_error: 28.6075

In [18]:
y_pred = models.predict(X_test)

In [19]:
y_pred

array([[332.2406  ],
       [ 35.354263],
       [147.75739 ],
       ...,
       [292.88885 ],
       [124.639404],
       [765.5894  ]], dtype=float32)

In [20]:
from sklearn.metrics import mean_absolute_error

In [21]:
print(mean_absolute_error(y_test,y_pred))

32.0742644813722

In [25]:
y_test

array([171,  67, 164, ..., 296, 112, 757], dtype=int64)

In [27]:
y_pred = y_pred.flatten()

In [28]:
result = pd.DataFrame({'y_test':y_test,'y_pred':y_pred})

In [29]:
result

      y_test      y_pred
0        171  332.240601
1         67   35.354263
2        164  147.757385
3        215  200.116241
4        202  169.145035
...      ...         ...
3471     167  156.612305
3472      57   49.856564
3473     296  292.888855
3474     112  124.639404
3475     757  765.589417

[3476 rows x 2 columns]